# Telegram Bot Token (Lấy từ @BotFather)
BOT_TOKEN=your_telegram_bot_token_here

# MongoDB Configuration
# Ví dụ: mongodb://localhost:27017 hoặc mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=testflight_checker

# Cấu hình chu kỳ quét (giây)
# Mặc định là 300 (5 phút). Không nên để quá thấp để tránh bị Apple chặn IP (Rate Limit).
SLEEP_TIME=300
